{% extends "base.html" %}
{% block content %}

<div id="instructions" >
<h1>Welcome to tGPA!</h1>
<p>Use this tool to predict your future gpa / set goals for the upcoming semester! You
can also use it to calculate your current gpa if it has not been officially posted yet.</p>

<p>When you click 'calculate', tGPA will <span id="saved">automatically save</span> your marks, so that you can come back weeks
or months later and redo your calculations without re-entering all your marks!</p>

<p>Tip: use the up and down arrow keys while entering number of courses to quickly add or remove
rows.</p>

</div>

<p id="disclaimer">Note: this is not an official tool for UofT, Ryerson or York.</p>

{% endblock %}
