<!DOCTYPE html>
<html>
<head>
	<title>GPA Calculator</title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "grades/css/index.css" %}">


</head>
<body class="container-fluid">
<div class="header">
		<div class="row">
		<ul>
			<li><a class="col-xs-3 active">UofT</a></li>
			<li><a class="col-xs-3">Ryerson</a></li>
			<li><a class="col-xs-3">York</a></li>
			<li><a class="col-xs-3">OMSASS</a></li>
		</ul>
		</div>
</div>
	<h2>Find Your GPA!</h2>

	<h3>Enter Number of Courses:</h3>
	{% load grades_extras %}
		<div class="form-group">
			<input id="num-course" type="number" class="form-control" min="0" max="200" value="{{ rows }}">
					<button id="up" class="btn">+1</button>
					<button id="down" class="btn">-1</button>
		</div>


	<div class="row headings">
		<div class="col-xs-5">Course Title</div>
		<div class="col-xs-3">Credits</div>
		<div class="col-xs-4">Marks</div>
	</div>
	<form method='POST' action='.'> {% csrf_token %}
		<div class="row" id="row_0" style="display:hidden;"></div>
		{% for course in courses %}
		<div class="row" id="row_{{ course.count }}">
			<div class="col-xs-5">
				<div class="form-group">
					<input type="text" class="form-control" name="course_{{ course.count }}" placeholder="Couse (optional)" value="{{course.course}}">
				</div>
			</div>
			<div class="col-xs-3">
					<div class="form-group">
						<select class="form-control" name="credits_{{course.count}}">
							<option selected="selected" value="{{course.credits}}">{{ course.credits }}</option>
						</select>
					</div>
			</div>
			<div class="col-xs-4">
					<div class="form-group">
						<select class="form-control" name="gpa_{{ course.count}}">
							<option selected="selected" value="{{ course.gpa }}">{{ course.gpa | user_friendly_label}}</option>
						</select>
					</div>
			</div>
		</div>
		{% endfor %}
		<div id="mult">
		<p>Multi-year (Add many courses at once)<p>
		<div class="row headings" style="display:none">
			<div class="col-xs-5">Course Title(s)</div>
			<div class="col-xs-3">Credits</div>
			<div class="col-xs-4">Mark</div>
		</div>
		<div class="row" id="multiple">
			<div class="col-xs-5">
				<div class="form-group">
					<input type="text" class="form-control" name="previous-course" placeholder="Multiple courses/years" value="{{ mult.course }}">
				</div>
			</div>
			<div class="col-xs-3">
					<div class="form-group">
						<input class="form-control" type="number" min="0" step="0.5" name="previous-credits" value="{{mult.credits}}">
					</div>
			</div>
			<div class="col-xs-4">
					<div class="form-group">
						<input class="form-control" type="number" min="0" max="4.0" step="0.01" value="{{mult.gpa}}" name="previous-GPA" value="None">
					</div>
			</div>
		</div>
	</div>
	<button value="show" id="mult-button">Show/Hide multiple years</button>
		<input type="submit" value="calculate">
	</form>
	{% if cgpa %}
    <h3>Your cGPA is: {{ cgpa }}<h3>
{% endif %}
	<!-- <h3>Your GPA is: </h3> -->
</body>
<script>
	var numCourses = {{ rows }};
	function get_row() {
	var form_str = '<div class="row" id="row_' + (numCourses + 1) + `">
			<div class="col-xs-5">
				<div class="form-group">
					<input type="text" class="form-control" name="course_` + (numCourses + 1) + '" placeholder="Couse (optional)">' +
				`</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<select class="form-control" name="credits_` + (numCourses + 1) + `">
						<option selected="selected" value="0.5">0.5</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<select class="form-control" name="gpa_` + (numCourses + 1) +`">
						<option selected="selected" value="None">None</option>
					</select>
				</div>
			</div>
		</div>`;
		return form_str;
	};
	if( numCourses == 0) {

		for(numCourses = 0; numCourses < 5; numCourses++) {
			$(get_row()).insertAfter("#row_" + numCourses);
		}
		$("#num-course").val(numCourses);

	} else {
		//$(get_row()).insertAfter("#row_{{ rows }}");
	}

	var numHiddenCourses = 0;
	var hiddenValues = [];
	$("#num-course").on("keyup", function () {

		var new_num_course = parseInt($("#num-course").val());
		while (new_num_course < numCourses) {
			$("#row_" + numCourses).attr("style", "display: none;");
			hiddenValues.unshift([$("select[name=course_"+numCourses+"]").val(), $("select[name=credits_"+numCourses+"]").val(), $("select[name=gpa_" + numCourses + "]").val()]);
			// console.log("hidden: ", hiddenValues);
			$("select[name='credits_" + numCourses + "'] option").removeAttr("selected");
			$("select[name='gpa_" + numCourses + "'] option").removeAttr("selected");
			$("select[name='gpa_" + numCourses + "'] option[value='None']").attr("selected", "selected");
			numHiddenCourses++;
			numCourses--;
		}
		while (new_num_course > numCourses) {
			if (numHiddenCourses > 0) {
				console.log("ayy");
				$("#row_" + (numCourses+1)).attr("style", "display: visible;");
				var orig_values= hiddenValues.shift();
				console.log("orignial: ", orig_values);
				$("select[name='course_" + (numCourses+1) + "']").attr("value", orig_values[0]);
				$("select[name='credits_" + (numCourses+1) + "'] option[value='"+ orig_values[1] +"']").attr("selected", "selected");
				$("select[name='gpa_" + (numCourses+1) + "'] option[value='"+ orig_values[2] +"']").attr("selected", "selected");
				numCourses++;
				numHiddenCourses--;
			} else {
				add_row();
			}

		}

	});

	var options = `<option value="None">None</option>
	<option value="5.00">A+: 90-100</option>
	<option value="4.00">A : 85-89</option>
	<option value="3.70">A-: 80-84</option>
	<option value="3.30">B+: 77-79</option>
	<option value="3.00">B : 73-76</option>
	<option value="2.70">B-: 70-72</option>
	<option value="2.30">C+: 67-69</option>
	<option value="2.00">C : 63-66</option>
	<option value="1.70">C-: 60-62</option>
	<option value="1.30">D+: 57-59</option>
	<option value="1.00">D : 53-56</option>
	<option value="0.70">D-: 50-52</option>
	<option value="0.00">F : 0-49</option>`;
	var credit_options = `
	<option value="0.0">0.0</option>
	<option value="0.5">0.5</option>
	<option value="1.0">1.0</option>
	`
	var i = 1 ;
	for(i=1; i < numCourses+1; i++) {
		add_options(i);
	}

	var cgpa = 0;
	$('form').submit(function(e){
			// e.preventDefault();
			var weighted_gpa=0;
			sum_credits = 0;
	    for (var i = 1; i < numCourses + 1; i++) {
				var gpa = parseFloat($("select[name=gpa_" + i + "]").val());
				var credits = parseFloat($("select[name=credits_" + i + "]").val());
				if (!isNaN(gpa)) {
					if (gpa == 5){
						gpa--;
					}
					weighted_gpa += gpa * credits;
					sum_credits += credits;
					var prev_gpa =parseFloat($("input[name='previous-GPA']").val());
					var prev_credits =parseFloat($("input[name='previous-credits']").val());
					if (isNaN(prev_gpa)) {
						$("input[name='previous-GPA']").val(0);
					}
					if (isNaN(prev_credits)) {
						$("input[name='previous-credits']").val(0);
					}

					if ( prev_gpa > 0 && prev_credits > 0){
						weighted_gpa += prev_gpa * prev_credits;
						sum_credits += prev_credits;
					}

				}

	    }
			if (sum_credits != 0) {


				cgpa = (weighted_gpa / sum_credits).toFixed(2);
			}
			$("form").append("<input name='cgpa' value='" + cgpa +"' style='display:none;'>");
	    return true;
	});
	function add_options(course_number){
		var cells = 'select[name="gpa_' + course_number +'"]';
		var selected = $(cells).val();
		$(cells + " option[selected='selected']").remove();
		$(cells).append(options);
		$(cells + " option[value='" + selected +"']").attr("selected", "selected");
		// console.log(selected);

		var cells = 'select[name="credits_' + course_number +'"]';
		var selected = $(cells).val();
		$(cells + " option[selected='selected']").remove();
		$(cells).append(credit_options);
		$(cells + " option[value='" + selected +"']").attr("selected", "selected");
		// console.log(selected);
	}
	function add_row(){
		$(get_row()).insertAfter("#row_" + numCourses);
		numCourses++;
		add_options(numCourses);
	}

	$("#up").on("click", function() {
		var nc = parseInt($("#num-course").val());
		nc++;
		$("#num-course").val(nc);
		$("#num-course").keyup();
	});
	$("#down").on("click", function() {
		var nc = parseInt($("#num-course").val());
		nc--;
		$("#num-course").val(nc);
		$("#num-course").keyup();
	});
	$("#mult-button").on("click", function(e) {
		e.preventDefault();
		$("#mult").toggle();
	});
	$("#num-course").on("change", function() {
		console.log($("#num-course").val());
		$("#num-course").keyup();
	});
</script>


</html>
